* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "PT Sans", sans-serif; */
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: hsl(214, 17%, 92%);
  color: hsl(0, 0%, 100%);
  font-size: 13px;
  font-weight: 400;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 16px;
  margin-bottom: 12px;
  font-weight: 600;
  text-align: start;
  line-height: 1.4em;
}

h2 {
  font-size: 14.5px;

  font-weight: 600;
}

span {
  font-size: 13px;
}

ul {
  list-style: none;
  margin: 25px 20px 25px 20px;
}

@media screen and (min-width: 768px) {
  ul {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    /* gap: 5px; */
  }
}

@media screen and (min-width: 768px) {
  .card-one {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }
}

@media screen and (min-width: 768px) {
  .card-two {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }
}

@media screen and (min-width: 768px) {
  .three {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
@media screen and (min-width: 768px) {
  .four {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1 / span 2;
  }
}
@media screen and (min-width: 768px) {
  .five {
    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 1 / span 2;
    grid-row-end: 1 / span 2;
  }
}

li {
  margin: 10px 15px 40px 15px;
  padding: 25px 30px 25px 30px;
  border-radius: 10px;
}

.card-one {
  background-color: hsl(263, 55%, 52%);
}
.card-two {
  background-color: hsl(217, 19%, 35%);
}
.card-three {
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
}
.card-four {
  background-color: hsl(219, 29%, 14%);
}
.card-five {
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
}

img {
  border-radius: 25px;
}
.main-card {
  display: flex;
  gap: 15px;
  padding-bottom: 13px;
}
